html,
body,
#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10px;
  line-height: 30px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  opacity: 0.7;
}